{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/user.css"/>
<div class="help-main">
	<div id="ltlContents" class="help-right-part">
		<div class="help-right-part">
			<div class="help-in-rihgt-part">
				<h2>{wc:$article['title']}</h2>
				<style>
				.help-nav ul li a.cur{wc:$article['id']}{color:#22AAFF;  position:relative; font-weight:bold;}
				.help-nav ul li a.cur{wc:$article['id']} b{width:4px; height:4px; overflow:hidden; background:#22AAFF; display:inline-block!important; position:absolute; left:-10px; top:5px;}
				.help-nav ul li a.cur1 b{display: none;}
				</style>
				<div class="help-content">
					{wc:$article['content']}
				</div>
			</div>
		</div>
	</div>
	<div class="help-left-part">
		<div class="help-nav">
			<h3>帮助中心</h3>			
            {wc:getlist sql="select * from `@#_category` where `parentid`='1'" return="category"}
			{wc:loop $category $help}
			<h4>{wc:$help['name']}</h4>
			<ul>
				{wc:fun:help($help['cateid'])}
			</ul>
			<div class="hackbox"></div>
			{wc:loop:end}
            {wc:getlist:end}
		</div>
		<div class="help-contact">
			<p>如果不能在帮助内容中找到答案，或者您有其他建议、投诉，您还可以：</p>
			<ul>
				<li class="CustomerCon"><a href="http://wpa.qq.com/msgrd?v=3&uin={wc:fun:_cfg('qq')}&site=qq&menu=yes" target="_blank" class="Customer"><b></b>在线客服</a></li>
				<li>电话客服热线(免长途费)</li>
				<li class="tel"><span>{wc:fun:_cfg('cell')}</span></li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".yu_ff").mouseover(function(){
	  $(".h_1yyg_eject").show();
	})
	$(".yu_ff").mouseout(function(){
	  $(".h_1yyg_eject").hide();
	})

		     $("#m_all_sort").hide();
	     $(".m_menu_all").mouseenter(function(){
			    $(".m_all_sort").show();
	     })
		 $(".m_menu_all").mouseleave(function(){
			    $(".m_all_sort").hide();
	     })
		 $(".m_all_sort").mouseenter(function(){
			    $(this).show();
	     })
		 $(".m_all_sort").mouseleave(function(){
			    $(this).hide();
	     })
	     $(function(){
	       $(window).scroll(function() {	
	      		
	     		if($(window).scrollTop()>=130&&$(window).scrollTop()<=560){
	     			$(".head_nav").addClass("fixedNav");	
	     			$("#m_all_sort").fadeOut();
	     		}else if($(window).scrollTop()>560){
	     			$(".head_nav").addClass("fixedNav");
	     			$("#m_all_sort").fadeOut();
	     	} else if($(window).scrollTop()<130){
	     			$(".head_nav").removeClass("fixedNav");
	     	}
	           });
	     });
</script>
{wc:templates "index","footer"}