{wc:templates "index","header"}
<div class="main-content clearfix">
{wc:templates "member","left"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/user.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/user.message.css"/>
<div class="R-content">
	<div class="member-t"><h2>邮箱验证</h2></div>
	<div class="email_verification_ok">
		<h4>验证成功</h4>
		<ul>
			<li><span>发送成功！</span></li>
			<li>{wc:fun:_cfg("web_name")}已经发送了一封验证邮件到您的邮箱{wc:$email}</li>
			<li>请尽快登录您的邮箱点击验证链接，完成邮箱验证</li>
		</ul>
		<p class="not">没有收到邮件？</p>
		<p>1.请检查您的垃圾箱或广告箱，邮件有可能被误认为垃圾或广告邮件；或选择
		<a class="orangebut" href="javascript:location.reload();" >重发验证邮件</a>
		</p>
		<p>2.若您的邮箱已过期或忘记密码无法登录，请联系客服QQ 616-616-990 申诉更换验证邮箱。</p>
	</div>
</div>
		
</div>
<script type="text/javascript">
	$(".yu_ff").mouseover(function(){
	  $(".h_1yyg_eject").show();
	})
	$(".yu_ff").mouseout(function(){
	  $(".h_1yyg_eject").hide();
	})

		     $("#m_all_sort").hide();
	     $(".m_menu_all").mouseenter(function(){
			    $(".m_all_sort").show();
	     })
		 $(".m_menu_all").mouseleave(function(){
			    $(".m_all_sort").hide();
	     })
		 $(".m_all_sort").mouseenter(function(){
			    $(this).show();
	     })
		 $(".m_all_sort").mouseleave(function(){
			    $(this).hide();
	     })
	     $(function(){
	       $(window).scroll(function() {	
	      		
	     		if($(window).scrollTop()>=130&&$(window).scrollTop()<=560){
	     			$(".head_nav").addClass("fixedNav");	
	     			$("#m_all_sort").fadeOut();
	     		}else if($(window).scrollTop()>560){
	     			$(".head_nav").addClass("fixedNav");
	     			$("#m_all_sort").fadeOut();
	     	} else if($(window).scrollTop()<130){
	     			$(".head_nav").removeClass("fixedNav");
	     	}
	           });
	     });
</script>
{wc:templates "index","footer"}