{wc:templates "index","header"}
<div class="main-content clearfix">
{wc:templates "member","left"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/user.message.css"/>
<div class="R-content">
	<div class="member-t">
		<h2>加入的圈子</h2> <span id="spanCount">({wc:fun:count($group)})</span>
	</div>
	<div class="groups-list clearfix">
		{wc:if $group==null}
		<div class="tips-con"><i></i>您还未有发表话题哦</div>
		{wc:else}
			<ul id="ulGroupList">
			{wc:loop $group $v}
			<li class="">
				<div class="groups-img"><a target="_blank" href="{WEB_PATH}/group/show/{wc:$v['id']}" class="fl-img"><img src="{G_UPLOAD_PATH}/{wc:$v['img']}" border="0"></a></div>
				<div class="groups-info">
					<p class="groups-name"><a target="_blank" href="{WEB_PATH}/group/show/{wc:$v['id']}" rel="nofollow" class="blue"><b>{wc:$v['title']}</b></a></p>
					<p class="groups-class gray02">成员：{wc:$v['chengyuan']}&nbsp;&nbsp;&nbsp;&nbsp;话题：{wc:$v['tiezi']}</p>
					<p class="groups-intro gray02">{wc:$v['jianjie']}</p>
				</div>
			</li>
			{wc:loop:end}
			</ul>
		{wc:if:end}
	</div>
	<div id="divPageNav" class="page_nav"></div>
</div>

</div>
<script type="text/javascript">
	$(".yu_ff").mouseover(function(){
	  $(".h_1yyg_eject").show();
	})
	$(".yu_ff").mouseout(function(){
	  $(".h_1yyg_eject").hide();
	})

		     $("#m_all_sort").hide();
	     $(".m_menu_all").mouseenter(function(){
			    $(".m_all_sort").show();
	     })
		 $(".m_menu_all").mouseleave(function(){
			    $(".m_all_sort").hide();
	     })
		 $(".m_all_sort").mouseenter(function(){
			    $(this).show();
	     })
		 $(".m_all_sort").mouseleave(function(){
			    $(this).hide();
	     })
	     $(function(){
	       $(window).scroll(function() {	
	      		
	     		if($(window).scrollTop()>=130&&$(window).scrollTop()<=560){
	     			$(".head_nav").addClass("fixedNav");	
	     			$("#m_all_sort").fadeOut();
	     		}else if($(window).scrollTop()>560){
	     			$(".head_nav").addClass("fixedNav");
	     			$("#m_all_sort").fadeOut();
	     	} else if($(window).scrollTop()<130){
	     			$(".head_nav").removeClass("fixedNav");
	     	}
	           });
	     });
</script>
{wc:templates "index","footer"}