{wc:templates "index","header"}
<div class="main-content clearfix">
{wc:templates "member","left"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/user.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/user.message.css"/>
<script type="text/javascript">
$(function(){
	var A=20;
	var B=function()
	{if(A==1){
		location.replace("{WEB_PATH}/member/home")
	}else{
		$("#spanNum").html(A);A--}
	};setInterval(B,1000)
})
</script>
<div class="R-content">
	<div class="member-t"><h2>邮箱验证</h2></div>
	<div class="email_verification_ok">
		<h4>验证成功</h4>
		<ul>
			<li><span>验证成功！</span></li>
			<li>您现在可以使用您的手机号 <span>{wc:$member['mobile']}</span> 或邮箱账号 <span>{wc:$memberx[0]}</span> 进行登录！</li>
			<li>您还可以：<a href="{WEB_PATH}">开始云购</a> <a href="{WEB_PATH}/member/home">去个人中心首页</a></li>
			<li>如没有任何操作，系统将在 <span id="spanNum"></span> 秒后自动跳转到个人中心首页！</li>
		</ul>
	</div>
</div>
		
</div>
<script type="text/javascript">
	$(".yu_ff").mouseover(function(){
	  $(".h_1yyg_eject").show();
	})
	$(".yu_ff").mouseout(function(){
	  $(".h_1yyg_eject").hide();
	})

		     $("#m_all_sort").hide();
	     $(".m_menu_all").mouseenter(function(){
			    $(".m_all_sort").show();
	     })
		 $(".m_menu_all").mouseleave(function(){
			    $(".m_all_sort").hide();
	     })
		 $(".m_all_sort").mouseenter(function(){
			    $(this).show();
	     })
		 $(".m_all_sort").mouseleave(function(){
			    $(this).hide();
	     })
	     $(function(){
	       $(window).scroll(function() {	
	      		
	     		if($(window).scrollTop()>=130&&$(window).scrollTop()<=560){
	     			$(".head_nav").addClass("fixedNav");	
	     			$("#m_all_sort").fadeOut();
	     		}else if($(window).scrollTop()>560){
	     			$(".head_nav").addClass("fixedNav");
	     			$("#m_all_sort").fadeOut();
	     	} else if($(window).scrollTop()<130){
	     			$(".head_nav").removeClass("fixedNav");
	     	}
	           });
	     });
</script>
{wc:templates "index","footer"}